In [24]:
# imports
import pandas as pd 
import numpy as np

In [25]:
# get dataframe
df = pd.read_csv('../data/customer_churn_dataset-training-master.csv')

In [26]:
# drop nulls
df.dropna(axis=0, inplace=True)

In [27]:
# dtypes to int
df = df.astype({'CustomerID':'int', 'Age': 'int', 'Tenure':'int', 'Usage Frequency':'int', 'Support Calls':'int', 'Total Spend':'int', 'Last Interaction':'int',  'Churn':'int'})

In [28]:
# set index
df.set_index('CustomerID', inplace=True)

In [29]:
#columns to numeric
df['Gender'] = df['Gender'].map({'Male': 1, 'Female':0});
df = pd.get_dummies(df, columns=['Subscription Type'], dtype=int)
df['Contract Length'] = df['Contract Length'].map({'Monthly':1, 'Quarterly':3,'Annual':12 })

In [30]:
#reorder cols 
columns = [col for col in df.columns if col != 'Churn'] + ['Churn']
df = df[columns]

## Churn Rate

**Churn**: cuando un cliente deja de usar un servicio.

**Impacta en KPIs**: ingresos, crecimiento y retención.

**Problema**: identificar clientes con alto riesgo de abandono.

**Solución**: _predecir_ clientes con alto riesgo de abandono mediante clasificación.

In [22]:
# preview: .head()
df.head(5)

,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Contract Length,Total Spend,Last Interaction,Subscription Type_Basic,Subscription Type_Premium,Subscription Type_Standard,Churn
CustomerID,,,,,,,,,,,,,
2,30,0,39,14,5,18.0,12,932,17,0,0,1,1
3,65,0,49,1,10,8.0,1,557,6,1,0,0,1
4,55,0,14,4,6,18.0,3,185,3,1,0,0,1
5,58,1,38,21,7,7.0,1,396,29,0,0,1,1
6,23,1,32,20,5,8.0,1,617,20,1,0,0,1

In [23]:
print('df shape: ', df.shape)

df shape:  (440832, 13)